@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,800;1,200&family=Pacifico&family=Poppins:ital,wght@1,200&family=Roboto:ital,wght@1,900&family=Smooch+Sans:wght@200&display=swap');
*{
    margin:0;
    padding:0;
}

/* ##############utility classes################## */
.text-grey{
    color:rgba(104, 103, 103, 0.849);
}
.text-light{
    color:#ffffff;
}
.bg-green{
    background-color: #1790a0fb;
}
.lg-heading{
    font-size: 36px;
    font-weight:400 ;
    line-height: 44px;
    letter-spacing: 2px;
}
.md-heading{
    font-size: 28px;
    line-height: 38px;
    font-weight: 400;
    letter-spacing: 1.8px;
}

/* ####################navbar################# */
*{
    margin:0;
    padding:0;
}
.logo h1{
    font-family: 'Pacifico', cursive;
    margin-left:3rem;
    color:#1791A0
}
.navbar{
    background-color: #ffff;
    width:100%;
    height:90px;
}
.navbar-container{
    display: flex;
    justify-content: space-between;

}

.menu-items{
    list-style: none;
    display: flex;
    padding:1rem;
    font-family: 'Overpass', sans-serif;
    margin-right:3rem;
}
.menu-items a{
    padding:18px;
    text-decoration: none;
    color:#808080

}
.menu-items a:hover{
    color:#1791A0
}

/* #############showcase############## */

.showcase{
    position:relative;
    font-family: 'Overpass', sans-serif;
    height:698px;
    background:url("img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.showcase-content{
    position:absolute;
    width:480px;
    height:430px;
    left: 838px;
    top:90px;
}